/*@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

html {
   min-height: 100%;
   margin: 0;
}

body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  margin: 0;
}

/*----- navbar -----*/
.navbar {
  /*background-color: #39819e;*/
  background-color: #0E7BA6;
  padding: 1em;
  font-size: 20px;
  position: sticky;
  width: 100%;
  z-index: 2;
  top: 0;
}
.navbar-brand {
  font-size: 26px;
}

/*----- header -----*/
.header {
  background-image: url(bilder/header1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border-top: 2px solid #333;
  margin-bottom: 0;
  padding-bottom: 7rem;
}

/*----- kontakt -----*/
.kontakt-container {
  background-color: #e9ecef;
  margin-right: 0;
}
.kontakt {
  margin-top: 1em;
  text-align: right;
}
.icon {
  width: 3.5em;
  height: auto;
}

/*----- info -----*/
.info-container {
  margin-top: 1.5em;
}

/*----- scroll -----*/
.scrollelement {
  position: relative;
  top: -7rem;
  display:
}

/*----- fonts -----*/
p {
  font-family: 'Noto Sans', Arial, sans-serif;
  margin-bottom: 0 !important;
}
.title {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}
/*----- galleri -----*/
.galleri {
  margin-top: 4rem;
}

.navbar-toggler {
  border: 0;
}



/*----- footer -----*/
.footer {
  height: 1.8rem;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
}
.ftext {
  margin-left: 0.5rem;
}
