@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.navbar {
  background-color: #39819e;
  padding: 1em;
  font-size: 20px;
}
.navbar-brand {
  font-size: 26px;
}
.header {
  background-image: url(bilder/header.jpg);
<<<<<<< HEAD
=======
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border-top: 2px solid #333;
>>>>>>> 867b2326ba4f0b233f8a436cfd657e97f6033261
}
